---
layout: page
title: About
description: Information about me.
image: 
  path: /assets/images/alxira5.jpg
  alt: Alxira5
permalink: /about/
---

<style type="text/css" media="all">
  img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
</style>
<p><img src="{{ "/assets/images/alxira5.jpg" | relative_url }}" alt="Alxira5"></p>
<p>My name is Guillermo Brito or also known as Alxira5, I am software developer and a digital artist, I am also a defender of free culture and that is why all my projects are free.</p>
<p>Since I was little, I have had a great interest in machines and fictional worlds, this is the reason why I have software development as a profession, since for me, creating software is like creating a work of art that will be in the hearts of some people. In addition to being a software developer, I am also a digital artist and I love making comics and conceptual arts.</p>
<p>When I talk about defending free culture, I mean defending the possibility of sharing your works with others without the need to take away their freedoms, because even if you don't believe it, many of today's works use a free work as a basis and are not completely free.</p>
