---
layout: home
title: Welcome to my personal website!
description: The Alxira5 personal website in the network.
permalink: index.html
---

<style type="text/css" media="all">
  img {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .author-name {
	text-size 20px;
  }
  .text-center {
	text-align: center;
  }
</style>
<p><img src="{{ "/assets/images/avatar.svg" | relative_url }}" alt="Avatar"></p>
<p>My name is Guillermo Brito or also known as Alxira5, I am software developer and a digital artist, I am also a defender of free culture and that is why all my projects are free.</p>
<p>This would be my personal website, along with a blog that I usually use as a log, which is very common on websites of this type.</p>
<p>It's not a very big place, but it may be of interest to some.</p>
<h2>Latest posts</h2>
